/*inicio*/
body, html {
  height: 100vh;

  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic", sans-serif;
}

/*nav-bar*/

.nav_responsivo {
  border: 1px solid #ddd;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
}


.navbar-nav {
  margin-left: auto;

}
.navbar {
background-color: #000000;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);}

.container-fluid {
  background-color: #f8f9fa;
}

.navbar-expand-lg{
  background-color: #f8f9fa;
  height: 100px;
}
.nav-link {
  color: #000305; 
}

a:hover { 
  color: #2c88d9 !important;
}


/*main*/
#main {
  position: relative;
  z-index: 1;
  padding: 20px;
}

#main h2 {
  color: #2c88d9;
  font-family: "Franklin Gothic", sans-serif;
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
  padding: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#main h3 {
  color: #2c88d9;
  font-family: "Franklin Gothic", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#main h2 {
  padding-top: 100px;
}

#main h5 {
  color: #2c88d9; 
  -webkit-text-stroke: 0.7px #000000; 
  
  padding: 10px; 
}


#main li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Franklin Gothic", sans-serif;
  margin-bottom: 40px;
  padding-top: 30px;
}

#main li a {
  background-color: #2c88d9;
  border-radius: 15%;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

#main li a:hover {
  background: #202743;
  transform: scale(1.5); /*aumento del boton*/
  filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
  transition: transform 0.7s;
}

.servicios h5 {
  padding-right: 80px;
  padding-left: 80px;
}

.servicios_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*animacion logos*/
.servicios_logos img {
  width: 200px;
  margin: 70px;
  transition: transform 0.8s;
}

.servicios_logos img:hover {
  transform: scale(1.2) rotate(360deg);
}

/*carrusel*/
.carrusel {
  width: 100%;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.801);
}

.carousel-inner {
  width: 100%;
}

.carousel-item {
  text-align: center;
}

/*video*/
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-container {
  text-align: center;
}

.video h5 {
  margin-bottom: 100px;
}

.video iframe {
  max-width: 100%;
}

/*intento de banner de fondo*/
.body_index{
  margin: 0;
  padding: 0;
  background-image: url('../images/banners/banner9.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

footer {
  box-shadow: 0px 5px 100px #9cc6eb;
}






/*      PAGE NOSOTROS            */


/*header*/



/* Header y Nav */
#navBar_nosotros {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logoarcomercial_nosotrso {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
}

#navBar_nosotros ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navBar_nosotros ul li {
  margin: 0 15px;
}

#navBar_nosotros ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#navBar_nosotros ul li a:hover {
  color: #2c88d9;
}



/* Header y Nav */
#navBar_nosotros {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logoarcomercial_nosotrso {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
}

#navBar_nosotros ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navBar_nosotros ul li {
  margin: 0 15px;
}

#navBar_nosotros ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#navBar_nosotros ul li a:hover {
  color: #2c88d9;
}

.body_nosotros{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic", sans-serif;
}


/*banner de fondo NOSOTROS*/

.body_nosotros {
  margin: 0;
  padding: 0;
  background-image: url('../images/banners/banner2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}


/*que es arcomercial*/

.que_es_arcomercial {
  text-align: center; 
}

.que_es_arcomercial div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.que_es_arcomercial h1 {
  color: #fff;
  filter: drop-shadow(0 6px 0px #202743);
  margin: 0; 

}

.que_es_arcomercial img{
  margin: 0 20px;  
}

.que_es_arcomercial_descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50x;
  padding-left: 100px;
  padding-right: 100px;
}


.que_es_arcomercial_descripcion h4 {
  color: #2c88d9;
  filter: drop-shadow(0 3px 0px #202743);
  margin: 0;
  text-align: center;
}

/* Nosotros video */
.que_es_arcomercial_video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.que_es_arcomercial_video iframe {
  margin-top: 35px; 
}

/*contamos con el respaldo de*/

.respaldo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.respaldo h1 {
  color: #2c88d9;
  filter: drop-shadow(0 3px 0px #202743);
  margin: 0;
  text-align: center;
}

.respaldo img {
  margin-top: 20px; 
}

/*nuestros clientes opinan*/

.opiniones h1 {
  color: #2c88d9;
  filter: drop-shadow(0 3px 0px #202743);
  margin: 0;
  text-align: center;
}

.opiniones .imagenes-container {
  display: flex;
  justify-content: center;
}

.opiniones img {
  width: 200px;
  height: auto;
  margin: 55px;
  border-radius: 10%;
}





/*               MODULOS              */


/* Header y Nav */
#navBar_modulos {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logoarcomercial_modulos {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
}

#navBar_modulos ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navBar_modulos ul li {
  margin: 0 15px;
}

#navBar_modulos ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#navBar_modulos ul li a:hover {
  color: #202743;
}

.body_modulos {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic", sans-serif;
}

#header_modulos nav ul li a {
  text-decoration: none;
  background-color: #ced8e0;
  border-radius: 15%;
  padding: 5px 5px;
  color: #2c88d9;
  transition: font-size 0.3s;
  border-color: #2c88d9;
}

/*banner de fondo modulos*/

.body_modulos {
  margin: 0;
  padding: 0;
  background-image: url('../images/banners/banner7.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}



/*¿con que modulos contamos?*/

.nuestros_modulos{
  height: 100vh;
  width: 100%;
}

.nuestros_modulos h1{
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 80px;
}

.nuestros_modulos h5{
  margin-left: 50px;
  padding-right: 200px;
}

/*modulo ToGo*/


.modulos_togo {
  margin-top: -150px;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
  margin-left: 50px; 
}

.modulos_togo h6 {
  color: #fff;
  filter: drop-shadow(0 3px 0px #202743);
  text-align: left;
  margin-bottom: 60px;
  padding-right: 20px; 
}

.modulos_togo_logo img {
  margin-top: -100px;
  width: 250px;
  height:250px;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

/*boton togo*/


.boton_togo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.boton_togo li a {
  text-decoration: none;
  background-color: #4b5c6b;
  border-radius: 10%;
  padding: 5px 10px;
  color: #fff;
  transition: transform 0.7s;
  margin-left: 50px;
}

.boton_togo li a:hover {
  background: #202743;
  transform: scale(1.5);
  filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
}






/*signia*/


.modulos_signia {
  display: flex;
  align-items: center;
  text-align: center;
}

.modulos_signia_logo {
  order: -1; /* Cambia el orden y mueve la imagen a la izquierda */
}

.modulos_signia h6 {
  color: #ffff;
  filter: drop-shadow(0 3px 0px #202743);
  margin-bottom: 60px;
  margin-left: 50px;
  padding: 0 50px;
  margin-top: 150px;
}

.modulos_signia_logo img {
  margin-top: 150px;
  width: 250px;
  height: 200px;
  margin-right: 20px; 
  margin-left: 50px;
}

/*boton signia*/

.boton_signia {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; 
}

.boton_signia li {
  list-style: none;
}

.boton_signia li a {
  text-decoration: none;
  background-color: #4b5c6b;
  border-radius: 10%;
  padding: 5px 10px;
  margin-right: 50px;
  margin-top: -50px;
  color: #fff;
  transition: transform 0.7s;
}

.boton_signia li a:hover {
  background: #202743;
  transform: scale(1.5);
  filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
}


/* spot */

.modulos_spot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.modulos_spot h6 {
  color: #fff;
  filter: drop-shadow(0 3px 0px #2c88d9);
  text-align: left;
  margin: 0;
  max-width: 60%;
  margin-top: 50px; 
  margin-left: 30px;
}

.modulos_spot_logo {
  margin-left: auto;
}

.modulos_spot_logo img {
  margin-top: 50px; 
  width: 250px;
  height: 200px;
}

/* boton spot */

.boton_spot {
  list-style: none;
  margin: 0;
  padding: 0;
}

.boton_spot a {
  text-decoration: none;
  background-color: #4b5c6b;
  border-radius: 10%;
  padding: 5px 10px;
  color: #fff;
  transition: transform 0.7s;
  margin-left: 50px;
  display: inline-block;
}

.boton_spot a:hover {
  background: #202743;
  transform: scale(1.5);
  filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
}


/*           CONCTACTO             */

.contacto_titulo h1 {
  color: #4b5c6bff;  
  padding-left: 50px; 

}

.contacto_titulo h6 {
  padding-left: 50px; 
  max-width: 60%;
  padding-bottom: 50px;

}

form {
  max-width: 300px;
  margin: auto;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  font-size: 25px;
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid #9eadba ;
}
form input textarea::placeholder{
  color: #9eadba;
}


.body_contacto {
  margin: 0;
  padding: 0;
  background-image: url('../images/banners/banner4.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

/*      PLANES         */



.body_planes {
  margin: 0;
  padding: 0;
  background-image: url('../images/banners/banner6.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.precios {
  filter: drop-shadow(0 2px 0px #202743);
  padding: 50px;
  color: #4b5c6bff;
  font-family: "Franklin Gothic", sans-serif;
}

.precios h1 {
  font-size: 60px;
  padding-bottom: 100PX;
  padding-top: 50px;

}

.precios h5{
  padding-bottom: 50PX;
  padding-right: 100px;
}  
  

/*precios*/

/*plan basico*/



.plan_basico {
  display: flex;
  align-items: center; 
  padding: 20px;
  padding-top: 60px;
}

.logo_img {
  width: 150px;
  height: auto;
}

.text_container {
  display: flex;
  flex-direction: column;
  margin-left: 40px; 
}

.text_container h6 {
  margin: 0; 
  padding-right: 200px;
}

.precio_anual h4{
  background-color: rgba(75, 92, 107, 0.164);
  border-radius: 9%;
  padding: 3px;
  border-color: #4b5c6bff;
  border: solid 1px;
}



/*facturacion electronica*/


.FE h4{
  color: #2c88d9;
  padding-top: 100px;
  padding-left: 50px;
  margin-bottom: 0px;
  padding-bottom: -50px;
}

.facturacion-electronica-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.FE_items {
  width: 40%; 
}

.switch_button,
.precio_factura_electronica {
  display: flex;
  align-items: center;
}

.precio_factura_electronica h4 {
  margin-right: 300px; 
  background-color: rgba(75, 92, 107, 0.164);
  border-radius: 9%;
  padding: 3px;
  border-color: #4b5c6bff;
  border: solid 1px;
}

.facturacion-electronica-container {
  padding-left: 50px;
}



/*check Switch*/

:root {
  --color-green: #2c88d9;
  --color-red: #4b5c6bff;
  --color-button: #fdffff;
  --color-black: #000;
}
.switch_button {
  display: inline-block;
}
.switch_button .switch-button__checkbox {
  display: none;
}
.switch_button .switch-button__label {
  background-color: var(--color-red);
  width: 3rem;
  height: 2rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
.switch_button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch_button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-green);
}
.switch_button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(1rem);
}

/*  caja   */

.caja h4{
  color: #2c88d9;
  padding-top: 100px;
  padding-bottom: 25px;
  padding-left: 50px;

}

.Caja_titulo .caja h4 {
  color: #2c88d9;
  padding-top: 100px;
  padding-left: 50px;
  margin-bottom: 0px;
}

.Caja_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.caja_items {
  width: 40%;
}

.switch_button2,
.precio_caja {
  display: flex;
  align-items: center;
  margin-left: 100px; 
}

.precio_caja h4 {
  margin-right: 300px; 
  background-color: rgba(75, 92, 107, 0.164);
  border-radius: 9%;
  padding: 3px;
  border-color: #4b5c6bff;
  border: solid 1px;
}

/* Check Switch */
:root {
  --color-green: #2c88d9;
  --color-red: #4b5c6bff;
  --color-button: #fdffff;
  --color-black: #000;
}

.switch_button2 {
  display: inline-block;
}

.switch_button2 .switch-button__checkbox {
  display: none;
}

.switch_button2 .switch-button__label {
  background-color: var(--color-red);
  width: 3rem;
  height: 2rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}

.switch_button2 .switch-button__label:before {
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}

.switch_button2 .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-green);
}

.switch_button2 .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(1rem);
}


.planes_total {
  display: flex;
  align-items: center;
}

.total_monto,
.total_monto_numero {
  margin-right: 50px; 
  margin-left: 25px;
}
.total_monto {
  color: #2c88d9;
}

.total_monto_numero{  margin-right: 300px; 
  background-color: rgba(75, 92, 107, 0.164);
  border-radius: 9%;
  padding-top: 5px;
  border-color: #4b5c6bff;
  border: solid 1px;

}

.planes_comprar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.planes_comprar li a {
  text-decoration: none;
  background-color: #4b5c6b;
  border-radius: 10%;
  padding: 5px 10px;
  color: #fff;
  transition: transform 0.7s;
  margin-left: 50px;
}

.planes_comprar li a:hover {
  background: #202743;
  transform: scale(1.5);
  filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
}

.planes_comprar{
  padding: 30px;
}




/* responsive */

@media only screen and (max-width: 720px) {


  body {

    font-size: 14px;
    width: 100%;
    height: 100vh;
  }

  .nav_responsivo {
    width: 100%;
    height: auto; 
    background-color: #333;
  }

  

}



@media only screen and (max-width: 375px) {

  body {
    margin: 0;
    font-size: 14px;
    width: 375px;
    height: 100vh;
  }

  .nav_responsivo {
    width: 375px;
    height: auto; 
    background-color: #333;
  }


  .Open h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
}

  .Open h2 {
    margin: 10px;
    padding: 0;
}





#main.Open h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
    margin: 10px;
    padding: 0;
}



  .servicios_logos img {
    width: 100px;
    margin: 35px;
  }


.carrusel {
  margin: 0px;
  padding-bottom: 150px;
}


.video-container {
  padding: auto;
  padding-bottom: 150px;
}

footer {
  width: 375px;
}


}

@media only screen and (min-width: 641px) {

  body {
      font-size: 16px;
  }
}