@import "nav";
@import "footer";
@import "index/index";
@import "nosotros/nosotros";
@import "modulos/modulos";
@import "planes/planes";
@import "contacto/contacto";


/*inicio*/
body, html {
    height: 100vh;
  
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic", sans-serif;
  }
  
/*banner de fondo index*/
.body_index{
    margin: 0;
    padding: 0;
    background-image: url('../images/banners/banner9.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }
 /*coloque los banners aca porque en el _index no me tomaba la ruta ponga como la ponga*/


  /*banner de fondo NOSOTROS*/
  
  .body_nosotros {
    margin: 0;
    padding: 0;
    background-image: url('../images/banners/banner2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }
  

  /*banner de fondo Modulos*/
  .body_modulos {
    margin: 0;
    padding: 0;
    background-image: url('../images/banners/banner7.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }
  
/*banner de fondo planes*/

  .body_planes {
    margin: 0;
    padding: 0;
    background-image: url('../images/banners/banner6.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }
  
/*banner de fondo contacto*/

  .body_contacto {
    margin: 0;
    padding: 0;
    background-image: url('../images/banners/banner4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }
  
/*coloque los banners aca porque en el _index no me tomaba la ruta ponga como la ponga*/


  
  /*    INDEX      */
  
  @media only screen and (max-width: 720px) {
  
  
    body {
  
      font-size: 14px;
      width: 100%;
      height: 100vh;
    }
  
    .nav_responsivo {
      width: 100%;
      height: auto; 
      background-color: #333;
    }
  
    
  
  }
  
  
  @media (max-width: 991px) {
    .navbar-toggler-icon {
      width: 30px; 
      height: 30px; 
      z-index: 3;
    }
  
  
  
    .navbar-nav {
      text-align: center; 
    }
  
    .navbar-nav a {
      color: #090c0e; 
      padding: 15px; 
      display: block; /* Hace que los enlaces ocupen todo el ancho del contenedor */
      text-decoration: none; 
      border-bottom: 1px solid #ddd; 
      transition: background-color 0.3s; 
    }
  
    .navbar-nav a:hover {
      background-color: #b0b1b2; /* Cambia el color de fondo al pasar el ratón */
    }
  
    .bg-body-tertiary { 
      background-color: #333; /* Color de fondo del menú responsivo */
    }
  }
  
  
  @media only screen and (max-width: 375px) {
  
    body {
      margin: 0;
      font-size: 14px;
      width: 375px;
      height: 100vh;
    }
  
    .nav_responsivo {
      width: 375px;
      height: auto; 
      background-color: #333;
    }
  
  
    .Open h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto; 
  }
  
    .Open h2 {
      margin: 10px;
      padding: 0;
  }
  
  
  
  
  
  #main.Open h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
      margin: 10px;
      padding: 0;
  }
  
  
  
    .servicios_logos img {
      width: 100px;
      margin: 35px;
    }
  
  
  .carrusel {
    margin: 0px;
    padding-bottom: 250px;
  }
  
  
  .video-container {
    padding: auto;
    padding-bottom: 250px;
  }
  
  footer {
    width: 375px;
    height: auto;
  }
  
  footer {
    margin: 0;
    padding: 0;
  }
  
  
  }
  
  @media only screen and (min-width: 641px) {
  
    body {
        font-size: 16px;
    }
  }
  
  
  
  /*    NOSOTROS    */
  
  @media only screen and (max-width: 375px) {
  
    .body_index{
      margin: 0;
      font-size: 14px;
      width: 375px;
      height: 100vh;
  
    }
  
    .que_es_arcomercial .h1 {
      position: relative;
  
    }
  
    .que_es_arcomercial {
      width: 355px;
      font-size: 5px;
      padding: 8px;
  }
  
  
  
  .que_es_arcomercial img {
    width: 180px;
    height: auto;
  }
  }
  
  
  /*NOSOTROS RESP*/
  
  @media only screen and (max-width: 375px) {
  
  .body_nosotros{
    font-size: 14px;
    width: 100%;
    height: 100vh;
  }
  
  .que_es_arcomercial_descripcion h4 {
    font-size: 14px;
    text-align:start;
    padding: 0;
  
  }
  
  .que_es_arcomercial_video {
    max-width: 100%; 
    padding: 0 10px; 
    padding-bottom: 0px;
    padding-top: 0px;
    height: 250px;
  }
  
  
  .que_es_arcomercial_video iframe {
    width: 100%; 
    height: 200px; 
  }
  
  .respaldo{
   height: 250px;
  }
  
  .respaldo img {
    max-width: 100%; 
    height: auto;
  }
  
  .opiniones .imagenes-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .opiniones .imagenes-container img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
  }
  
  
  }
  
  
  /*MODULOS RESP*/
  
  @media only screen and (max-width: 375px) {
  
    .body_modulos{ 
      font-size: 14px;
      width: 100%;
      height: 100vh;
    }
  
  
    .nuestros_modulos {
      text-align: start; 
      padding: 20px; 
  }
  
  .nuestros_modulos h1 {
      font-size: 24px; 
      margin-bottom: 10px; 
  }
  
  .nuestros_modulos h5 {
      font-size: 14px;
      padding-right: 50px;
  }
  
  
  .modulos_togo {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }
  
  .modulos_togo h6 {
    margin-top: 50px;
    font-size: 16px;
    margin-bottom: 5px; 
  }
  
  .modulos_togo_logo img {
    width: 150px; 
    height: 150px;
    margin-top: 10px; 
  }
  
  .boton_togo li {
    margin-top: 10px; 
    align-self: center; 
  }
  
  .modulos_signia {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
    text-align: center; 
  }
  
  .modulos_signia h6 {
    font-size: 16px;
    margin: 5px 0; 
    margin-top: 50px;
  }
  
  .modulos_signia_logo img {
    width: 150px; 
    height: 150px;
  }
  
  .modulos_spot {
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0; 
  }
  
  .modulos_spot h6 {
    font-size: 16px;
    margin: 0; 
    padding: 0; 
    width: 100%; 
    box-sizing: border-box; 
  }
  
  .modulos_spot_logo {
    margin-top: 10px; 
  }
  
  .modulos_spot_logo img {
    width: 150px; 
    height: 150px;
  }
  
  
  .modulos_spot_logo {
    margin-top: 10px; 
    margin: auto; 
  }
  
  .modulos_spot_logo img {
    width: 150px; 
    height: 150px;
  }
  
  
  .boton_spot {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  }
  
  
  
  /*PLANES RESP*/
  
  
  @media only screen and (max-width: 375px) {
  
  
  
    .plan_basico {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(10, 1fr);
    }
    
    .logo_img {
      max-width: 100%;
      height: auto;
      grid-row: span 4;
      grid-column: span 2;
      margin-left: 90px;
     }
    
    .text_container {
      grid-row: span 10;
      grid-column: span 2;
      text-align: left;
    }
    
    .text_container h6 {
      margin: 10px 0;
    }
    
    .precio_anual {
      grid-row: span 2;
      grid-column: span 2;
      text-align: center;
    }
    
    .precio_anual h4 {
      margin: 0;
      padding: 0;
    }
    
  
      .plan_basico {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(20, 1fr);
      }
    
      .logo_img {
        margin-bottom: 0; /* Elimina el margen inferior */
      }
    
      .text_container {
        grid-row: span 20;
        grid-column: span 2;
      }
    
    
  
  
  
  
  
  
      .facturacion-electronica-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
      }
      
      .FE {
        max-width: 100%;
        height: auto;
        grid-row: span 7;
        grid-column: span 4;
        text-align: center;
      }
      
      .FE_items {
        grid-row: span 7;
        grid-column: span 4;
        text-align: left;
        width: 100%;
        margin-bottom: 50px;
      }
      
      .FE_items h6 {
        margin: 10px 0;
      }
      
      .switch_button {
        grid-row: span 1;
        grid-column: span 2;
        text-align: center;
      }
      
      .precio_factura_electronica {
        grid-row: span 1;
        grid-column: span 2;
        text-align: center;
      }
      
      .precio_factura_electronica h4 {
        margin: 0;
        padding: 0;
      }
      
  
  
  
      .Caja_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
      }
      
      .caja {
        max-width: 100%;
        height: auto;
        grid-row: span 7;
        grid-column: span 4;
        text-align: center;
      }
      
      .caja_items {
        grid-row: span 7;
        grid-column: span 4;
        text-align: left;
        width: 100%;
        margin-bottom: 50px;
      }
      
      .caja_items h6 {
        margin: 10px 0;
      }
      
      .switch_button2 {
        grid-row: span 1;
        grid-column: span 2;
        text-align: center;
      }
      
      .precio_caja {
        grid-row: span 1;
        grid-column: span 2;
        text-align: center;
      }
      
      .precio_caja h4 {
        margin: 0;
        padding: 0;
        
      }
  
      .planes_total {
        margin-top: 53px;
      }
      
  
      
  }