#main {
    position: relative;
    z-index: 1;
    padding: 20px;
  
    h2 {
      color: #2c88d9;
      font-family: "Franklin Gothic", sans-serif;
      text-align: center;
      font-size: 45px;
      margin-bottom: 20px;
      margin-top: 100px;
      padding: 50px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
      &:last-child {
        padding-top: 100px;
      }
    }
  
    h3 {
      color: #2c88d9;
      font-family: "Franklin Gothic", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 25px;
      padding-top: 25px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  
    h5 {
      color: #2c88d9;
      -webkit-text-stroke: 0.7px #000000;
      padding: 10px;
    }
  
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-family: "Franklin Gothic", sans-serif;
      margin-bottom: 40px;
      padding-top: 30px;
  
      a {
        background-color: #2c88d9;
        border-radius: 15%;
        padding: 10px;
        color: #fff;
        text-decoration: none;
  
        &:hover {
          background: #202743;
          transform: scale(1.5);
          filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.3));
          transition: transform 0.7s;
        }
      }
    }
  
    .servicios {
      h5 {
        padding-right: 80px;
        padding-left: 80px;
      }
  
      &_logos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
  
        img {
          width: 200px;
          margin: 70px;
  
          &:hover {
            transform: scale(1.2) rotate(360deg);
          }
        }
      }
    }
  
    .carrusel {
      width: 100%;
      overflow: hidden;
  
      .carousel-inner {
        img {
          width: 100%;
          height: auto;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.801);
        }
      }
  
      .carousel-item {
        text-align: center;
      }
    }
  
    .video {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  
      .video-container {
        text-align: center;
  
        h5 {
          margin-bottom: 100px;
        }
  
        iframe {
          max-width: 100%;
        }
      }
    }
  
  }
  